{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>{{ character.name }}</h1>
  <p>{{ character.level }}</p>
  <p>{{ character.get_path_display }}</p>
  <p>{{ character.faction.name }}</p>
  <p>{{ character.specialization.name }}</p>
  <a href="{% url 'cyberpunk_mmo:character-update' pk=character.id %}">
    Update this choom
  </a>
  <a href="{% url 'cyberpunk_mmo:character-delete' pk=character.id %}">
    Delete this choom
  </a>
  <a href="{% url 'cyberpunk_mmo:character-list' %}">
    Back to my crew
  </a>
{% endblock %}
