{% extends "base.html" %}

{% block content %}
  <form class="search-form" method="get">
    <input class="search-form__input" type="text" name="search" placeholder="Search" value="{{ request.GET.search }}">
    <button class="button" type="submit">Search</button>
  </form>
  {% for character in character_list %}
    <h2 class="character-card__title"><a href="{% url 'cyberpunk_mmo:character-detail' pk=character.id %}">{{ character.name }}</a></h2>
    <p class="character-card__level">Level: {{ character.level }}</p>
  {% empty %}
    {% if request.GET.search %}
      <p class="empty-state">No characters with this name were found.</p>
    {% else %}
      <p class="empty-state">No characters yet! Create your first!</p>
    {% endif %}
  {% endfor %}
  <a class="button" href="{% url 'cyberpunk_mmo:character-create' %}">Create new character</a>
{% endblock %}
