{% extends "base.html" %}

{% block content %}
  <h1 class="danger-title">Delete your profile?</h1>
  <p class="danger-copy">
    This action cannot be undone. Your account and all your characters
    will be permanently deleted.
  </p>
  <form class="confirm-form" action="" method="post">
    {% csrf_token %}

    <input class="button button--danger" type="submit" value="Yes">
  </form>
  <a class="button button--outline" href="{% url 'cyberpunk_mmo:profile' %}">
    Cancel
  </a>
{% endblock %}
