<nav class="site-nav">
  <form class="theme-switcher" method="post" action="{% url 'cyberpunk_mmo:set-theme' %}">
    {% csrf_token %}
    <button class="button button--compact theme-switcher__button
  {% if request.session.theme != 'phantom' %}
    theme-switcher__button--active
  {% endif %}" name="theme" value="original" type="submit">Original
    </button>
    <button class="button button--compact theme-switcher__button
  {% if request.session.theme == 'phantom' %}
    theme-switcher__button--active
  {% endif %}
" name="theme" value="phantom" type="submit">Phantom
    </button>
  </form>
  <ul class="site-nav__links">
    <li class="site-nav__item">
      <a class="site-nav__link" href="{% url "cyberpunk_mmo:index" %}">HOME</a>
    </li>
    <li class="site-nav__item">
      <a class="site-nav__link" href="{% url "cyberpunk_mmo:faction-list" %}">FACTIONS</a>
    </li>
    <li class="site-nav__item">
      <a class="site-nav__link" href="{% url "cyberpunk_mmo:specialization-list" %}">SPECIALIZATIONS</a>
    </li>
    <li class="site-nav__item">
      <a class="site-nav__link" href="{% url "cyberpunk_mmo:post-list" %}">NEWS</a>
    </li>
    {% if user.is_authenticated %}
      <li class="site-nav__item">
        <a class="site-nav__link" href="{% url 'cyberpunk_mmo:profile' %}">MY PROFILE</a>
      </li>
      <li class="site-nav__item">
        <a class="site-nav__link" href="{% url 'cyberpunk_mmo:character-list' %}">MY CREW</a>
      </li>
    {% endif %}
  </ul>
  {% if user.is_authenticated %}
    <form class="site-nav__auth" method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button class="button button--compact button--outline" type="submit">LOGOUT</button>
    </form>
  {% else %}
    <a class="button button--compact button--outline" href="{% url 'login' %}">LOGIN</a>
    <a class="button button--compact" href="{% url 'cyberpunk_mmo:register' %}">REGISTRATION</a>
  {% endif %}
</nav>
